@mixin Reset($value : 0px) {
     * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          border: $value solid red;
          font-family: 'Segoe UI';

          & img {
               display: block;
          }

          & button {
               display: block;
          }
     } 
}

@mixin Debug($color : red) {
     & * {
          border: 1px solid $color;
     }
}

@mixin Flex($value : center) {
     display: flex;
     justify-content: $value;
     align-items: center;
}

@mixin Circle($size) {
     width: $size ;
     height: $size ;
     border-radius: 50%;
}

@mixin Question {
     & {
          display: flex;
          width: 93%;
          height: 4.7rem;
          justify-content: space-between;
          align-items: center;
          margin: 0 auto 2rem;
          position: relative;

     }

     & img {
          height: 65%;
          padding: 8px;
          margin-right: 1rem;
     }
     
     & .course-name {
          margin-right: auto;
     
          
     }
     
     & .no-course-sections {
          justify-self: flex-end;
          
     }
     
     & a {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
     
     }
}
