.pop__up {
    position: fixed;
    width: 42%;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    
    & img {
        height: 20rem;
        object-position: center 15%;
        object-fit: cover;
        width: 100%;

    }

}